<html>
  <head>
    <title>Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.35.0/codemirror.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/theme/dracula.min.css" rel="stylesheet">
    <style>
      @import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);
      
      .tabs .tab a{
          color:#000;
      } /*Black color to the text*/

      .tabs .tab a:hover {
          background-color:#eee;
          color:#000;
      } /*Text color on hover*/

      .tabs .tab a.active {
          background-color:#888;
          color:#000;
      } /*Background and text color when a tab is active*/

      .tabs .indicator {
          background-color:#000;
      } 
      .pointer{
        cursor: pointer;
      }
      .small-icon{
        font-size: 16px;
        color: lightgrey;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#ecran">Ecran</a></li>
            <li class="tab col s3"><a href="#app-server">Youtube/Twitter</a></li>
            <li class="tab col s3"><a href="#help">Help</a></li>
          </ul>
        </div>
        <div id="ecran" class="col s12">
           <table>
            <thead>
              <tr>
                  <th>Panneau de controle</th>
                  <th>Affichage</th>
              </tr>
            </thead>

            <tbody>
              <tr v-for="(view, item) in views">
                <td>
                  <small>{{view.name}}</small>
                  <ul><li v-for="path in view.back">{{link(path)}} <i class="material-icons pointer small-icon" v-on:click="copy(path)">content_copy</i></li></ul>
                </td>
                <td>
                  <ul><li v-for="path in view.front">{{link(path)}} <i class="material-icons pointer small-icon" v-on:click="copy(path)">content_copy</i></li></ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="app-server" class="col s12">
          <a class="waves-effect waves-light btn-large" v-on:click="startYoutube">Demarrer Youtube</a>
          <a class="waves-effect waves-light btn-large" v-on:click="startTwitter">Demarrer Twitter</a>
        </div>
        <div id="help" class="col s12">
          <p>Add file in : HOMEDIR/dsfls/view</p>
          <p>Name file : filename.ejs</p>
          <p>Access : http://BASEURL:PORT/local/filename</p>
          <p>Base file :</p>
          <textarea id="code">
            <html>
              <head>
                <title>RENDER</title>
              </head>
              <body>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" charset="utf-8"></script>
                <script type="text/javascript">
                      var socket = io.connect('http://<%= config.host %>:<%= config.port %>');

                </script>
              </body>
            </html>

          </textarea>
        </div>
      </div>
    </div>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://codemirror.net/lib/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.40.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/mode/xml/xml.min.js"></script>
    <script>
      const {remote, ipcRenderer} = require('electron');     
      const app = new Vue({
        el: '#app',
        data: {
          IP_ADDR: remote.getGlobal('sharedObj').IP_ADDR,
          PORT: remote.getGlobal('sharedObj').PORT,
          views: [
            { 
              name: "code de la route",
              back: ['/codedelaroute/back'],
              front: [
                '/codedelaroute/front-image',
                '/codedelaroute/front-list',
                '/codedelaroute/front',
              ]
            },
            { 
              name: "countdown",
              back: ['/countdown/back'],
              front: [
                '/countdown/front',
              ]
            },
            { 
              name: "presentation",
              back: ['/presentation/back'],
              front: [
                '/presentation/front',
                '/presentation/front-mission-locale',
              ]
            },
            { 
              name: "Score",
              back: ['/score/back'],
              front: [
                '/score/front',
                '/score/front-cup',
              ]
            },
            { 
              name: "Youtube",
              back: ['/youtube/back-comment'],
              front: [
                '/youtube/front-comment',
                '/youtube/front-mission-locale',
              ]
            },
            { 
              name: "Twitter",
              back: ['/twitter/back'],
              front: [
                '/twitter/front',
                '/twitter/front-mission-locale',
              ]
            }
          ]
        },
        methods: {
          link(path){
            return `http://${this.IP_ADDR}:${this.PORT}${path}`
          },
          copy(path){
            const link = this.link(path)
            navigator.clipboard.writeText(link).then(function() {
              M.toast({html: `Votre lien à bien été copié <br> ${link}`, classes: "green darken-1 text-white"})
            }, function() {
              M.toast({html: `La copie à échoué`, classes: "red darken-1 text-white"})
            });
          },
          startYoutube(){
            ipcRenderer.send('start-youtube')
          },
          startTwitter(){
            ipcRenderer.send('start-twitter')
          }
        },
        mounted: () =>{
          var tabEl = document.querySelector('.tabs')
          var tabs = M.Tabs.init(tabEl, {});
        }
      })    
  
      document.addEventListener("keydown", function (e) {
        if (e.which === 123) {
          remote.getCurrentWindow().toggleDevTools();
        } 
      });

      var editorOptions = {
            autoRefresh: true,
            firstLineNumber: 1,
            lineNumbers: true,
            smartIndent: true,
            lineWrapping: true,
            indentWithTabs: true,
            refresh: true,
            mode : "xml",
            htmlMode: true,
            theme: "dracula"
          };
      
      var code = document.querySelector("#code")
      var editor = CodeMirror.fromTextArea(code, editorOptions);
      //self[0].editor = editor;
      editor.save();
      
      // beautify the code
      // var text = code.innerText;
      // editor.setValue( js_beautify( text, { indent_size: 2 } ) );


  </script>
  </body>
</html>
