

<html>
  <head>
    <title>PRESENTATION FRONT MISSION LOCALE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body class="front-ml overflow">
    <div class="front-ml-container" id="presentation">
      <div v-bind:class="{'front-ml-wrapper': true, 'bottom': true, 'active': displayOn}">
        <div class="ml-head-wrapper">
          <div class="ml-head">
            <!-- <img src="/image/micro.svg" alt=""> -->
            <svg width="200px" height="200px" viewBox="0 0 1340 1576" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Group-12" fill="#9C215B">
                        <g id="Group-6" transform="translate(128.000000, 0.000000)">
                            <path d="M972.877774,657.090536 C833.306983,517.6804 693.757271,378.299756 554.350899,239.053929 C534.74286,278.387052 523.423233,322.084904 524.236897,368.39064 C524.380236,376.43337 528.330512,386.393043 533.958707,392.063821 C628.267853,487.182063 722.960644,581.925343 818.214147,676.095647 C824.706596,682.51635 836.245448,686.678852 845.570966,686.92321 C890.545931,688.098653 932.759498,675.965042 972.877774,657.090536 M594.136121,176.489997 C741.249114,323.622671 887.396672,469.794767 1035.05351,617.479352 C1124.68725,539.832667 1170.75835,441.133324 1147.37288,320.71566 C1121.73192,188.691017 1039.08389,101.152068 908.513995,68.302844 C781.91967,36.4521148 677.551444,82.3154796 594.136121,176.489997 M481.715571,433.343377 C479.025842,436.149274 475.998843,438.963598 473.372353,442.110753 C343.877505,597.378845 214.294124,752.575315 85.0437976,908.04142 C53.1464798,946.413965 51.7763201,977.771767 84.828788,1015.48286 C117.607224,1052.87798 152.830868,1088.46569 189.656545,1121.89632 C233.185465,1161.41481 265.006897,1160.03714 310.445608,1122.20387 C460.977677,996.861139 611.50553,871.514195 761.999656,746.129334 C768.256016,740.917779 774.196185,735.331263 779.385928,730.713749 C679.642518,631.070681 581.446334,532.973806 481.715571,433.343377 M1211.97697,375.523349 C1210.68691,569.888632 1067.08574,727.145288 871.19506,749.251211 C857.995153,750.742634 844.086978,759.31621 833.446107,768.12993 C673.360863,900.723336 512.512545,1032.44464 354.665932,1167.65857 C289.239752,1223.70068 213.606936,1220.27125 160.908486,1175.84033 C113.024567,1135.46658 67.6954679,1090.16355 29.575517,1040.6264 C-13.8227106,984.22196 -5.82940971,919.833773 39.9086291,864.941822 C176.545171,700.952698 313.325052,537.077326 449.523142,372.721665 C456.479337,364.325038 461.293868,352.14087 462.432154,341.233259 C483.456728,139.735266 649.511652,-5.6110704 852.10979,0.893893335 C1038.27023,6.87222464 1187.77362,145.806285 1207.87492,331.576927 C1209.45587,346.204669 1210.61945,360.874542 1211.97697,375.523349" id="Fill-4"></path>
                        </g>
                        <g id="Group-9" transform="translate(0.000000, 1146.000000)">
                            <path d="M0,232.725361 C0.847846291,181.933144 19.660754,131.804408 59.906035,90.4784168 C84.9280459,64.7759239 110.211582,39.3185386 135.64697,14.021741 C152.48157,-2.72164551 170.117617,-4.34865304 183.662067,8.89138483 C197.759093,22.6808019 196.114018,40.9370941 178.878695,58.6862671 C149.971776,88.4541659 119.069677,116.514763 92.3266648,148.108291 C21.9849496,231.199777 66.1741921,351.911057 173.26435,370.120864 C219.722952,378.019246 258.833553,359.695338 291.709742,327.780634 C322.99991,297.41687 352.864347,265.569783 384.18826,235.244053 C452.922863,168.697332 554.580055,155.660142 634.893455,202.847586 C645.700332,209.199254 655.781688,217.169478 665.074252,225.629917 C680.829008,239.97294 682.077578,258.609571 669.364102,272.027101 C656.869969,285.216427 641.37252,283.703521 623.955816,272.49196 C602.472826,258.672961 580.399295,242.855067 556.330584,236.583693 C507.336879,223.821192 465.328415,243.117079 430.10694,277.5547 C396.41665,310.49632 364.544378,345.407253 329.681445,377.026137 C253.784438,445.876025 136.182674,447.414286 61.4245656,382.287499 C23.4191175,349.17684 0.0759265335,294.809432 0,232.725361" id="Fill-7"></path>
                        </g>
                        <path d="M568,804.066781 C561.644682,815.189352 558.597497,824.090788 552.692523,830.234805 C525.448833,858.585962 497.653788,886.413505 469.564126,913.924345 C453.78947,929.375177 436.541727,929.784778 423.149263,916.381952 C410.135593,903.354946 410.872136,885.425395 426.209075,869.700088 C453.658997,841.547398 480.671201,812.83309 509.964586,786.71996 C518.15074,779.423148 534.670357,776.294133 545.533321,778.916425 C554.23716,781.015103 560.163178,794.709294 568,804.066781" id="Fill-10"></path>
                    </g>
                </g>
            </svg>
            <div class="ml-head-text">
              <h2>INTER<br/>VEN<br/>ANT</h2>
            </div>
          </div>
        </div>
        <div class="ml-content-wrapper">
          <div class="ml-content">
            <div class="ml-text">{{presentation.text}}</div>
            <div class="ml-second">{{presentation.baseline}}</div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
    var socket = io.connect('http://<%= config.host %>:<%= config.port %>');

    var app = new Vue({
      el: '#presentation',
      data: {
        displayOn: false,
        presentation: {
          text:"",
          baseline:""
        }
      }
    })

    socket.on('front-presentation', function(data){
      console.log(data)
      if(data.action === "affiche-presentation"){
        app.presentation = data.presentation
        app.hashtag = data.hashtag
        app.displayOn = true
      } else if(data.action === "hide-presentation"){
        app.displayOn = false
        setTimeout(function(){
          app.presentation = {
            text:"",
            baseline:""
          }
        }, 2000)
      }
    })

    </script>
  </body>
</html>
