

<html>
  <head>
    <title>YOUTUBE COMMENTS BACK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body class="back-youtube">
    <div id="comments">
      <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="slide-out" class="sidenav">
        <li>
          <div class="user-view">
            <div class="background">
                <img src="https://images.unsplash.com/photo-1536098561742-ca998e48cbcc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04cb1349ddef3da346cb4565d58c4d80&w=1000&q=80">
            </div>
            <a href="#name"><span class="white-text name">The boss</span></a>
            <a href="#email"><span class="white-text email">theboss@bosscompany.com</span></a>
          </div>
        </li>
        <li><a href="#!"><i class="fab fa-youtube"></i>Video ID</a></li>
        <li>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="What's your video id ?" id="videoid" type="text" class="validate" v-model="research.videoId">
              <label for="videoid">Video Id</label>
            </div>
          </div>
        </li>
        <li><a href="#!"><i class="fab fa-key"></i>API KEY</a></li>
        <li>
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="API KEY" id="apikey" type="text" class="validate" v-model="api_key">
              <label for="apikey">Video Id</label>
            </div>
          </div>
        </li>
        <li>
          <a class="waves-effect waves-light btn" v-on:click="launchApp">Lancer une app</a>
        </li>
      </ul>

      <div class="comment-list" id="comments">
        <div class="row">
          <div class="col m7 s12 column">
            <ul class="collection">
              <li class="collection-item blue lighten-1" v-for="(comment, index) in comments">
                <div class="row">
                  <div class="col s11">
                    <div>
                      <i class="fab fa-youtube"></i>
                      {{showComment(comment)}}
                    </div>
                    <div>
                      <small class="light-blue-text text-darken-4">@{{comment.name}}</small>
                    </div>
                  </div>
                  <div class="col s1">
                    <a class="secondary-content" v-on:click="selected(index)"><i class="fa fa-thumbs-up blue-text text-darken-4"></i></a>
                  </div>
                </div>
              </li>
           </ul>
          </div>
          <div class="col m5 s12 column">
            <ul class="collapsible">
              <li>
                <div class="collapsible-header teal teal-text text-lighten-4"><i class="material-icons">create</i>Simuler un commentaire</div>
                <div class="collapsible-body">
                  <div class="row">
                    <div class="input-field col s12">
                       <i class="fab fa-youtube prefix teal-text"></i>
                      <input placeholder="" id="comment-text" type="text" class="validate" v-model="simulate_comment.text">
                      <label for="comment-text">Commentaire Text</label>
                    </div>
                    <div class="input-field col s12">
                       <i class="fa fa-at prefix teal-text"></i>
                      <input placeholder="" id="comment-user" type="text" class="validate" v-model="simulate_comment.user">
                      <label for="comment-user">Commentaire User</label>
                    </div>
                  </div>
                  <div class="row">
                    <a class="waves-effect waves-light btn" v-on:click="sendSimulateComment">Afficher ce commentaire</a>
                  </div>
                </div>
              </li>
            </ul>

            <ul class="collection">
              <li class="collection-item teal" v-for="(comment, index) in selectedComments">
                <div class="row">
                  <div class="col s11">
                    <div>
                      <i class="fab fa-youtube teal-text text-darken-3"></i>
                      {{showComment(comment)}}
                    </div>
                    <div>
                      <small class="teal-text text-lighten-4">@{{comment.name}}</small>
                    </div>
                  </div>
                  <div class="col s1">
                    <a class="secondary-content" v-on:click="deselected(index)"><i class="material-icons orange-text">close</i></a>
                    <a class="secondary-content" v-on:click="send(index)"><i class="material-icons white-text">send</i></a>
                  </div>
                </div>
              </li>
           </ul>
          </div>
        </div>
      </div>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red darken-4">
          <i class="large material-icons" v-on:click="hide">close</i>
        </a>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
    var socket = io.connect('http://<%= config.host %>:<%= config.port %>');

    document.addEventListener('DOMContentLoaded', function() {
      var elems2 = document.querySelectorAll('.collapsible');
      var instances2 = M.Collapsible.init(elems2, {});

      var elemsSide = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elemsSide);
    });

    var app = new Vue({
      el: '#comments',
      data: {
        api_key: "AIzaSyCEoW1X756WcSoXBH7nxh3dqVyBexGfJ0Q",
        research: {
          videoId: ""
        },
        simulate_comment: {
          text: "",
          user:""
        },
        comments: [],
        selectedComments: []
      },
      methods: {
        showComment: function(comment){
          return comment.message
        },
        selected: function(index){
          this.selectedComments.unshift(this.comments[index])
        },
        deselected: function(index){
          this.selectedComments.splice(index, 1)
        },
        send: function(index){
          var selected = this.selectedComments[index]
          console.log(selected)
          this.sendComment({
            text : this.showComment(selected),
            user: "@" + selected.name
          })
        },
        sendComment: function(comment){
          socket.emit('back', {type: "youtube-comment", content: {
            action: "affiche-comment",
            comment: comment
          }})
        },
        sendSimulateComment: function(){
          this.sendComment({
            text : this.simulate_comment.text,
            user: "@" + this.simulate_comment.user
          })
        },
        hide: function(){
          socket.emit('back', {type: "youtube-comment", content: {
            action: "hide-comment"
          }})
        },
        launchApp: function(){
          socket.emit('back', {type: "node-youtube-comment", content: {
            action: "start",
            idVideo: this.research.videoId,
            api_key: this.api_key
          }})
        }
      }
    })

    socket.on('front-back-youtube-comment', function(data){
      if(data.action === "new-comment"){
        app.comments.unshift(data.comment)
      }
    })

    </script>
  </body>
</html>
