

<html>
  <head>
    <title>YOUTUBE FRONT MISSION LOCALE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body class="front-ml overflow">
    <div class="front-ml-container" id="comment">
      <div v-bind:class="{'front-ml-wrapper': true, 'left': true, 'active': displayOn}">
        <div class="ml-head-wrapper">
          <div class="ml-head">
            <img src="/image/questions.svg" alt="">
            <div class="ml-head-text">
              <h2>QUES<br/>TION</h2>
              <small>{{hashtag}}</small>
            </div>
          </div>
        </div>
        <div class="ml-content-wrapper">
          <div class="ml-content">
            <div class="ml-text">{{comment.text}}</div>
            <div class="ml-user">{{comment.user}}</div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript">
    var socket = io.connect('http://<%= config.host %>:<%= config.port %>');

    var app = new Vue({
      el: '#comment',
      data: {
        displayOn: false,
        comment: {
          text:"",
          user:""
        },
        hashtag: ""
      }
    })

    socket.on('front-youtube-comment', function(data){
      console.log(data)
      if(data.action === "affiche-comment"){
        app.comment = data.comment
        app.hashtag = data.hashtag
        app.displayOn = true
      } else if(data.action === "hide-comment"){
        app.displayOn = false
        setTimeout(function(){
          app.comment = {
            text:"",
            user:""
          }
          app.hashtag = ""
        }, 2000)
      }
    })

    </script>
  </body>
</html>
